.forget-pass{
    background-color: #EBEDF0 ;
    width: 100%;
    height: 100vh;
  }
  
  /* Navbar content */
  .forget-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 0px 0px;
  }
  
  /* Logo style */
  .forget-nav img {
    height: 110px; /* Adjust the height as needed */
    width: auto; /* Allow width to adjust proportionally */
    object-fit: cover;
  }

  .forgot-body{
    height: 300px;
    width: 490px;
    background-color: white;
    margin-top:90px;
    margin-left: 380px;
    border-radius: 20px;
    display: block;
  }


  .forgot-body-container{
    padding: 3px;
    /* border-top: 1px solid; */
  }

  .forgot-body-container h4{
    font-size: 20px;
    line-height: 24px;
    margin-left: 10px;
  }

  .forget-body-search{
    border: 1px solid #EBEDF0;
    height: 145px;
  }

  .forget-body-search p{
    font-size: 17px;
    margin-left: 10px;

  }

  .forget-body-search input{
    border-radius: 6px;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: auto;
    padding: 16px 0 16px 16px;
    width: 444px;
    border:  1px solid #EBEDF0;
    margin-left: 10px;
  }

  .forgot-btns{
    display: flex;
    padding: 16px 0 16px 16px;
    justify-content: end;
    margin-right: 30px;
  }

  .forgot-btns-one button{
    background-color: #e4e6eb;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 36px;
    margin-left: 8px;
    width: 90px;
    cursor: pointer;
    font-weight: bold;
  }

  .forgot-btns-two button{
    color: #e4e6eb;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 36px;
    margin-left: 8px;
    width: 90px;
    background-color: #1877f2;
    cursor: pointer;
    font-weight: bold;
  }